@using Microsoft.AspNetCore.Identity
@using Grupp9WebbShop.Web.Areas.Identity.Data

@inject SignInManager<WebbShopUser> SignInManager
@inject UserManager<WebbShopUser> UserManager

@if (SignInManager.IsSignedIn(User) && await UserManager.GetUserAsync(User) != null)
{
    var user = await UserManager.GetUserAsync(User);
    var fullName = user.FirstName != null ? $"{user.FirstName} {user.LastName}" : "";
    string isAdmin = await UserManager.IsInRoleAsync(user, "Administrator") ? " (Admin)" : "";

    <a id="manage" style="color: #642714;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Mina sidor">Hej @user.FirstName@isAdmin!<img width="50" src="~/images/MyPageIcon.png" alt="Min sida" /></a>
    @if (!string.IsNullOrEmpty(isAdmin))
    {
        <a id="admin" class=" text-dark" asp-area="ShopAdmin" asp-page="./index" title="Administration"><img width="40" src="~/images/Admin_ikon_new.png" alt="Administration" /></a>
    }
    @*<form id="logoutForm" class="" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">

        <button id="logout" type="submit" class="blue-button">Logga ut</button>
    </form>*@
}
else
{
    <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login"><img width="50" src="~/images/MyPageIcon.png" alt="Min sida" /></a>
}