@page
@model Grupp9WebbShop.Web.Areas.ShopAdmin.Pages.IndexModel
@{
    ViewData["Title"] = "Admin Start";
}
<div class="text-center">
    <h1 class="display-4">Startsida för Admin</h1>
    <p>
    @if(Model.UnProcessedOrders == 0)
    {
        <h5>Du har inga ohanterade ordrar</h5>
    }
    else
    {
    <a asp-page="/Orders" asp-route-ShowNotProcessedOrders="true"><h5>Du har @Model.UnProcessedOrders ej @(Model.UnProcessedOrders == 1 ? "avslutad order" : "avslutade ordrar")</h5></a>
    }
</div>

    
