@page
@model Grupp9WebbShop.Web.Areas.ShopAdmin.Pages.OrdersModel
@{
}

<table class="table">
    <thead class="thead">
        <tr>
            <th>Id</th>
            <th>Datum</th>
           
            <th>Avslutat ärende</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
            <tr>
                <td><a asp-page="/OrderDetails" asp-route-OrderId="@order.Id">@order.Id</a></td>
                <td>@order.Date</td>
               
                <td>@(order.IsProcessed ? "Ja":"Nej")</td>
            </tr>
        }
    </tbody>
</table>
<p>
    @if (Model.ShowNotProcessedOrders)
    {
        <a asp-route-ShowNotProcessedOrders="false">Visa alla ordrar</a>
    }
    else
    {
        <a asp-route-ShowNotProcessedOrders="true">Visa endast ej avslutade ärenden</a>
    }
</p>