@page
@model Grupp9WebbShop.Web.Pages.AboutModel
@{
}


<div class="brownandthin text-center">
    <h1>Om oss</h1>
    <p>Vi på My Sweets grundades 2021 som ett skolprojekt. Vår webbshop bottnar i en stark kärlek för goda bakverk och vikten av tillgänglighet. I ett land med stark fikakultur ska inte avstånd eller COVID-19 få stå i vägen för tillgängligheten, så oavsett var i landet du bor ska du ha en möjlighet att få njuta lika mycket av våra sötsaker som vi gör och därför finns vi här idag.
    </p>
    <p>
        Med högsta kvalitét och ett stort utbud välkomnar vi dig till My Sweets.
    </p>
</div>