@page
@model Grupp9WebbShop.Web.Pages.CheckoutModel
@{
}
<div class="ml-auto mr-auto mt-5 p-3" style="width:80%; background-color:#e0d4c7; color:#642714" ;>

    <h1><strong>2. Kassa</strong></h1>














</div>
