@page
@model Grupp9WebbShop.Web.Pages.ContactModel
@{
}

<div class="brownandthin text-center">
    <h1>Kontakt:</h1>

    <br /> Organisationsnummer:	xxxx
    <br /> Adress		xxxx
    <br /> Kontakt via e-post	Info@xxxx.se
    <br />Kontakt per telefon	xxxx
    <br />
    <br />


    <iframe width="600"
            height="450"
            style="border:0"
            loading="lazy"
            allowfullscreen
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBI_vWlTKql2bCHox8NOG0uZbaMKOK7iYY
    &q=ITHS,Stockholm">
    </iframe>
</div>