@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">ITHS Bakery</h1>
    <div class="row mt-4">
        <div class="col-sm-4">
            <p><img src="~/images/cupcake.jpg" alt="Cupcake" width="200px" /></p>
        </div>
        <div class="col-sm-4">
            <p><img src="~/images/coffee.jpg" alt="Semla" width="200px" /></p>

        </div>
        <div class="col-sm-4">
            <p><img src="~/images/cupcakes.jpg" alt="cupcakes" width="200px" /></p>
        </div>

    </div>
    <div class="text-center mt-4">
        <button class="btn btn-dark">Handla nu</button>
    </div>
    <div class="row">
        <div class="offset-5">

        </div>

    </div>
</div>
