@page
@model PrivacyModel
@{
    ViewData["Title"] = "Integritetspolicy";
}
<h1>@ViewData["Title"]</h1>

<p>My Sweets integritetspolicy följer Dataskyddsförordningen, ”GDPR”. 
    Vi tillämpar vid var tid gällande integritetslagstiftning vid all behandling av personuppgifter. 
    Syftet med att behandla personuppgifter i vår verksamhet är att följa bokföringslagen, samt att svara på förfrågningar, kommunicera med våra kunder kring evenemang, offerter och köp av upplevelser hos oss.</p>
