@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Återställning av lösenord";
}

<h1>@ViewData["Title"]</h1>
<p>
    Var vänlig kolla din e-postadress för att återställa lösenord.
</p>

