@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Registreringsbekräftelse";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
@*<p>
    This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">these docs</a> for how to configure a real email sender.
    Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>*@
        <p>Normalt sett, skulle du nu fått ett e-postmeddelande med en länk för att bekräfta ditt konto.</p>
        <p>För närvarande behöver du dock enbart klicka på länken nedan för att bekräfta kontot:</p>
        <p><a id="confirm-link" href="@Model.EmailConfirmationUrl">Klicka här för att Bekräfta kontot</a></p>
    }
    else
    {
<p>
        Var vänlig kolla din e-postadress för att bekräfta ditt konto.
</p>
    }
}
